<!DOCTYPE html>
<html>

<head>
    <title>Sistema Reservas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f90d3bf50d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>

    <%- include('general/cabecera'); %>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="float-right">
                            <i class="fas fa-cog"></i> Administración Reserva
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <label for="medicoId">Médico</label>
                                <select class="form-control" id="medicoId" name="medicoId">
                                    <option value="0">Seleccionar</option>
                                    <% rows_medico.forEach( (row)=> { %>
                                        <option value="<%=row.id %>">
                                            CI: <%=row.cedula %> | Nombre: <%=row.nombre %> Apellido: <%=row.apellido %>
                                        </option>
                                    <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pacienteId">Paciente</label>
                                <select class="form-control" id="pacienteId" name="pacienteId">
                                    <option value="0">Seleccionar</option>
                                    <% rows_paciente.forEach( (row)=> { %>
                                        <option value="<%=row.id %>">
                                            CI: <%=row.cedula %> | Nombre: <%=row.nombre %> Apellido: <%=row.apellido %>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="text" class="form-control" name="fecha" id="fecha">
                            </div>
                            <select class="form-control" id="especialidad" name="especialidad">
                                <option value="0">Seleccionar</option>                               
                                <option value="Otorrinolaringólogo">Otorrinolaringólogo</option>
                                <option value="Pediatra">Pediatra</option>                                                             
                                <option value="Clínico">Clínico</option>    
                            </select>
                    </div>
                    <div class="modal-footer">
                        <button id="btnBuscar" class="btn btn-primary" type="button">Listar Reservas</button>
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </section>

        <section id="Reserva">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado Reserva</h4>
                            </div>
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>FECHA</th>
                                        <th>PACIENTE</th>
                                        <th>MÉDICO</th>
                                    </tr>
                                </thead>
                                <tbody id="row_consulta">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <%- include('general/piePagina'); %>



            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
                integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

            <script>
                $(document).ready(function () {
                    $("#btnBuscar").on("click", function (event) {
                        
                        let url_get = "./consulta/buscar";

                        let medicoId   = $("#medicoId").val();
                        let pacienteId = $("#pacienteId").val();
                        let fecha      = $("#fecha").val();
                        let especialidad = $("#especialidad").val();
                        
                        let query = "";

                        if(medicoId !== "0"){
                            if(query === "")
                                query = query + "medicoId="+medicoId;
                            else
                            query = query + "&medicoId="+medicoId;    
                        }

                        if(pacienteId !== "0"){
                            if(query === "")
                                query = query + "pacienteId="+pacienteId;
                            else
                            query = query + "&pacienteId="+pacienteId;    
                        }

                        if(fecha !== ""){
                            if(query === "")
                                query = query + "fecha="+fecha;
                            else
                                query = query + "&fecha="+fecha;    
                        }

                        if(especialidad !== "0"){
                            if(query === "")
                                query = query + "especialidad="+especialidad;
                            else
                            query = query + "&especialidad="+especialidad;    
                        }

                        if(query !== ""){
                            query = "?"+query;
                        }

                        console.log("url_" + url_get + query);

                        $.ajax({
                            type: "GET",
                            url: url_get+query,
                            dataType: "json"
                        }).done(function (data) {
                            //console.log(JSON.stringify(data));

                            var rowhtml = "";
                            data.forEach(
                                function (row, index) {
                                    rowhtml += "<tr>";
                                    rowhtml += "<td>" + row.id + "</td>";
                                    rowhtml += "<td>" + row.fecha + "</td>";
                                    rowhtml += "<td>" + row.paciente.nombre + " " + row.paciente.apellido + "</td>";
                                    rowhtml += "<td>" + row.medico.nombre + " " + row.medico.apellido + "</td>";
                                    rowhtml += "/<tr>";
                                }
                            );
                            $("#row_consulta").html(rowhtml);

                        });

                    });



                    $("#fecha").datepicker({ dateFormat: "yy-mm-dd" });
                    $("#fecha").datepicker( "setDate", "2023-06-26" );

                });
            </script>


</body>

</html>