<!DOCTYPE html>
<html>

<head>
    <title>Sistema Reservas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f90d3bf50d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>

    <%- include('general/cabecera'); %>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="float-right">
                            <i class="fas fa-cog"></i> Administración Reserva
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <label for="metodo">Método de Listado</label>
                                <select class="form-control" id="metodo" name="metodo">
                                    <option value="0">Seleccionar</option>
                                    <option value="restaurante">Restaurante</option>
                                    <option value="fecha">Fecha</option>
                                    <option value="cliente">Cliente</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="restauranId">Restaurante</label>
                                <select class="form-control" id="restauranId" name="restauranId">
                                    <option value="0">Seleccionar</option>
                                    <% rows_restaurante.forEach( (row)=> { %>
                                        <option value="<%=row.id %>">
                                            <%=row.nombre %>
                                        </option>
                                        <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="text" value="" class="form-control" name="fecha" id="fecha">
                            </div>
                            <select class="form-control" id="clienteId" name="clienteId">
                                <option value="0">Seleccionar</option>
                                <% rows_cliente.forEach( (row)=> { %>
                                    <option value="<%=row.id %>">
                                        <%=row.nombre %>
                                            <%=row.apellido %>
                                    </option>
                                    <%}) %>
                            </select>
                    </div>
                    <div class="modal-footer">
                        <button id="btnBuscar" class="btn btn-primary" type="button">Listar Reservas</button>
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </section>

        <section id="Reserva">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado Reserva</h4>
                            </div>
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>MESA</th>
                                        <th>FECHA</th>
                                        <th>Cliente</th>
                                        <th>CANTIDAD</th>
                                    </tr>
                                </thead>
                                <tbody id="row_reserva">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <%- include('general/piePagina'); %>



            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
                integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

            <script>
                $(document).ready(function () {
                    $("#btnBuscar").on("click", function (event) {
                        let metodo = $("#metodo").val();
                        let url_get = "./buscar/reserva/";


                        if (metodo == "0") {
                            window.alert("Seleccione el método y luego especifique el valor");
                            return;
                        }

                        if (metodo == "restaurante") {
                            if ($("#restauranId").val() == "0") {
                                window.alert("Especifíque restaurante ID");
                                return;
                            }

                            url_get = url_get + metodo + "/" + $("#restauranId").val();
                        } else if (metodo == "fecha") {
                            if ($("#fecha").val() == "") {
                                window.alert("Favor especificar fecha");
                                return;
                            }

                            url_get = url_get + metodo + "/" + $("#fecha").val();
                        } else if (metodo == "cliente") {
                            if ($("#clienteId").val() == "0") {
                                window.alert("Especifíque el Cliente ID");
                                return;
                            }

                            url_get = url_get + metodo + "/" + $("#clienteId").val();
                        }


                        console.log("url_" + url_get);

                        $.ajax({
                            type: "GET",
                            url: url_get,
                            dataType: "json"
                        }).done(function (data) {
                            console.log(JSON.stringify(data));

                            var rowhtml = "";
                            data.forEach(
                                function (row, index) {
                                    rowhtml += "<tr>";
                                    rowhtml += "<td>" + row.mesa.nombre + "</td>";
                                    rowhtml += "<td>" + row.fecha + "</td>";
                                    rowhtml += "<td>" + row.cliente.nombre + "</td>";
                                    rowhtml += "<td>" + row.cantidadPersonas + "</td>";
                                    rowhtml += "/<tr>";
                                }
                            );
                            $("#row_reserva").html(rowhtml);

                        });

                    });



                    $("#fecha").datepicker({ dateFormat: "yy-mm-dd" });

                });
            </script>


</body>

</html>